<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name">Nombre: </label>
  <input id="first-name" type="text" formControlName="firstName" required>

  <label for="last-name">Apellido: </label>
  <input id="last-name" type="text" formControlName="lastName" required>

  <label for="street">Rol / Cargo: </label>
  <input id="street" type="text" formControlName="street" required>

  <label for="city">Correo: </label>
  <input id="city" type="text" formControlName="city" required>

  <div formGroupName="address">
    <h2>Datos de incidencia</h2>

    <label for="state">Título de incidencia: </label>
    <input id="state" type="text" formControlName="state" required>

    <label for="zip">Detalle de incidencia: </label>
    <input id="zip"type="text" formControlName="zip" required>
  </div>

  <p>Complete el formulario para activar el botón de enviar.</p>
  <button type="submit" [disabled]="!profileForm.valid">Enviar solicitud</button>
</form>

<hr>

<!-- <p>Form Value: {{ profileForm.value | json }}</p>

<p>Form Status: {{ profileForm.status }}</p>

<button type="button" (click)="updateProfile()">Update Profile</button> -->
