<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

<div formArrayName="aliases">
    <h2>Ver estado de ticket</h2>
    <button type="button" (click)="addAlias()">Ingrese número de ticket a conultar</button>

    <div *ngFor="let alias of aliases.controls; let i=index">

      <label for="alias-{{ i }}">Alias:</label>
      <input id="alias-{{ i }}" type="text" [formControlName]="i">
    </div>
  </div>
</form> -->
<h3>Estado de ticket consultado</h3>

<p>Los campos a mostrar son los siguientes!</p>

<li>- Análista / Helpdesk</li>
<li>- Clasificación</li>
<li>- Base de datos</li>
<li>- Estado</li>
<li>- Pruebas QA</li>
<li>- Fecha de creación</li>
<li>- Fecha de cierre</li>
<li>- Observaciones / comentarios</li>
